@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');


main {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1570303345338-e1f0eddf4946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1071&q=80);
    background-size: cover;
    padding: 3rem;
    font-weight: 300;
}

#player1{
    display: inline-block;
}
#player2{
    display: none;
}

#dice{
    display: none;
}

.button-group{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 3;
    width: 20rem;
}

.btn{
    margin: 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;

}

.btn:hover{
    transform: scale(1.1);
    transition: 500ms ease;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.btn-top{
    top: 3rem;
}
.btn-end{
    bottom: 3rem;
}

section{
    background-color: grey;
    height: 100%;
    padding: 3rem;
}

.card-group{
    height: 100%;
    position: relative;
}
.card{
    border: none;
}

.card1{
    background-color: rgb(219, 219, 219);
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.global{
    flex: 1 1 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.global-counter{
    font-size: 4rem;
    color: rgb(255, 74, 74);
}

.round-counter{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 20rem;
}

.round-counter div{
    background-color: rgb(255, 74, 74);
    padding: 0.5rem 1rem;
}

.turn{
    display: inline-block;
    height: .8rem;
    width: .8rem;
    background-color: rgb(255, 74, 74);
    border-radius: 50%;
}


.dice{
    height: 4rem;
    width: 4rem;
    text-align: center;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
}

#dice-img{
    background-color: white;
    border-radius: .4rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.158);
}




@media screen and (max-width : 1280px) {
    main{
        padding: 1rem;
    }
    .player{
        display: block;
    }

    .dice{
        position: relative;
    }

    .card{
        margin: 1rem 0;
    }

    .round-counter div{
        padding: 0;
    }

    .button-group{
        position: relative;
        text-align: center;
        width: auto;
    }

    .btn{
        margin: .3rem;
    }

    .btn-top{
        top: 0;
    }
    .btn-end{
        bottom: 0;
    }
}